<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    
    <h:head>
        <title>#{browserTabTitle.title} - Ork-Vergleicher</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="UTF-8"/>
    </h:head>

    <h:body>

        <!--Überschrift-->
        <h1 align="center">
            Kleine grüne Männchen
        </h1>

        <!--Beschreibung-->
        <center>
            <h:outputText value="Jede der folgenden Listen enthält mehrere zufallsgenerierte Instanzen von Ork"/>
            <h:outputText value="Vergleiche die Werte um Unterschiede festzustellen"/>
        </center>

        <!--Ansage Goblins-->
        <h2 align="center">
            Goblins
        </h2>
        <p:graphicImage name="ork/goblin.jpg" style="width: 300px; height: 300px; float: left"/>
        
        <!--Tabelle Goblins-->
        <p:dataTable var="goblin" value="#{goblinController.goblins}" emptyMessage="Keine Goblins" style="float: left; width: 1000px; height: auto" >
            <p:column headerText="Name">
                <h:outputText value="#{goblin.name}"/>
            </p:column>

            <p:column headerText="Schaden">
                <h:outputText value="#{goblin.power}"/>
            </p:column>

            <p:column headerText="Gesundheit">
                <h:outputText value="#{goblin.maxHealth}" />
            </p:column>

            <p:column headerText="Widerstand">
                <h:outputText value="#{goblin.resistance}"/>
            </p:column>
        </p:dataTable>
        <p style="clear: both"/>

        <!--Ansage Orks-->
        <h2 align="center">
            Orks
        </h2>
        <p:graphicImage name="ork/ork.jpeg" style="width: 350px; height: 300px; float: left"/>

        <!--Tabelle Orks-->
        <p:dataTable var="ork" value="#{orkController.orks}" emptyMessage="Keine Orks" style="float: left; width: 1000px; height: auto">
            <p:column headerText="Name">
                <h:outputText value="#{ork.name}"/>
            </p:column>

            <p:column headerText="Schaden">
                <h:outputText value="#{ork.power}"/>
            </p:column>

            <p:column headerText="Gesundheit">
                <h:outputText value="#{ork.maxHealth}"/>
            </p:column>

            <p:column headerText="Widerstand">
                <h:outputText value="#{ork.resistance}"/>
            </p:column>
        </p:dataTable>
        <p style="clear: both"/>

        <!--Ansage Schwarzorks-->
        <h2 align="center">
            Schwarzorks
        </h2>
        <p:graphicImage name="ork/blackork.jpeg" style="width: 300px; height: 300px; float: left"/>

        <!--Tabelle Schwarzorks-->
        <p:dataTable var="blackOrk" value="#{blackOrkController.blackOrks}" emptyMessage="Keine Schwarzorks" style="float: left; width: 1000px; height: auto">
            <p:column headerText="Name">
                <h:outputText value="#{blackOrk.name}"/>
            </p:column>

            <p:column headerText="Schaden">
                <h:outputText value="#{blackOrk.power}"/>
            </p:column>

            <p:column headerText="Gesundheit">
                <h:outputText value="#{blackOrk.maxHealth}"/>
            </p:column>

            <p:column headerText="Widerstand">
                <h:outputText value="#{blackOrk.resistance}"/>
            </p:column>
        </p:dataTable>
        <p style="clear: both"/>
        
        <!--Ansage Big Un'-->
        <h2 align="center">
            Big Un's
        </h2>
        <p:graphicImage name="ork/bigun.jpg" style="width: 400px; height: 300px; float: left"/>
        
        <!--Tabelle Big Un'-->
        <p:dataTable var="bigUn" value="#{bigUnController.bigUns}" emptyMessage="Keine Big Un's" style="float: left; width: 1000px; height: auto">
        <p:column headerText="Name">
            <h:outputText value="#{bigUn.name}"/>
        </p:column>
        
        <p:column headerText="Schaden">
            <h:outputText value="#{bigUn.power}"/>
        </p:column>
        
        <p:column headerText="Gesundheit">
            <h:outputText value="#{bigUn.maxHealth}"/>
        </p:column>
        
        <p:column headerText="Widerstand">
            <h:outputText value="#{bigUn.resistance}"/>
        </p:column>
        </p:dataTable>
        <p style="clear: both"/>

    </h:body>

</html>
