<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>#{browserTabTitle.title} - Ring</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="UTF-8"/>
    </h:head>

    <h:body>
            <h:form id="form">
                <h3 align='center'>Ring Ansicht</h3>
                <p:ring id="orkRing" value="#{ringView.orks}" var="ork">
                    <p:outputPanel style="text-align: center" layout="block">
                        #{ork.type}
                        <br/>
                        <p:commandButton update=":form:orkDetail" icon="pi pi-search" title="View" oncomplete="PF('orkDialog').show();">
                            <f:setPropertyActionListener value="#{ork}" target="#{ringView.selectedOrk}"/>
                        </p:commandButton>
                    </p:outputPanel>
                </p:ring>
            </h:form>
    </h:body>
</html>
