<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <head>
        <title>#{browserTabTitle.title} - Ork Pack-Vergleicher</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="UTF-8"/>
    </head>

    <body>

        <!--Überschrift-->
        <h1 align="center">
            Ork-Packs in all ihrer Pracht
        </h1>

        <!--Beschreibung-->
        <center>
            <h:outputText value="Hier vergleichen wir unterschiedliche Arten von Ork-Kampftrupps miteinander"/>
            <br></br>
            <h:outputText value="Vergleiche die Werte um Unterschiede festzustellen"/>
        </center>
        
        <!--Ansage GobPack-->
        <h:outputText value="Goblin-Kampfrupp"/>
        
        <!--Tabelle GobPack-->
        <p:dataTable var="gobPack" value="#{gobPackController.orkPacks}" emptyMessage="Keine Goblin-Kampftrupps">
            <p:column headerText="Mitglieder">
                <h:outputText value="#{gobPack.members}"/>
            </p:column>

            <p:column headerText="Anführer">
                <h:outputText value="#{gobPack.leader.name}"/>
            </p:column>

        </p:dataTable>
        
        <div>

        <!--Ansage OrkPack-->
        <h:outputText value="Ork-Kampftrupp"/>

        <!--Tabelle Orks-->
        <p:dataTable var="orkPack" value="#{orkPackController.orkPacks}" emptyMessage="Keine Ork-Kampftrupps">
            <p:column headerText="Mitglieder">
                <h:outputText value="#{orkPack.members}"/>
            </p:column>

            <p:column headerText="Anführer">
                <h:outputText value="#{orkPack.leader.name}"/>
            </p:column>

        </p:dataTable>

        <!--Ansage BlackOrkPack-->
        <h:outputText value="Schwarzork-Kampftrupp"/>

        <!--Tabelle BlackOrkPack-->
        <p:dataTable var="blackOrkPack" value="#{blackOrkPackController.orkPacks}" emptyMessage="Keine Schwarzork-Kampftrupps">
            <p:column headerText="Mitglieder">
                <h:outputText value="#{blackOrkPack.members}"/>
            </p:column>

            <p:column headerText="Anführer">
                <h:outputText value="#{blackOrkPack.leader.name}"/>
            </p:column>
            
            

        </p:dataTable>
        
        </div>
        
        <!--Ansage Waaagh-Leibgarde-->
        <h:outputText value="Waaagh Bozz mit Leibgarde"/>
        
        <!--Tabelle Waaagh-Leibgarde-->
        <p:dataList var="waaaghGuard" value="#{waaaghGuardController.orkPack}" emptyMessage="Keine Waaagh-Leibgarden">
            <p:column headerText="Mitglieder">
                <h:outputText value="#{waaaghGuard.members}"/>
            </p:column>
            
            <p:column headerText="Anführer">
                <h:outputText value="#{waaaghGuard.leader.name}"/>
            </p:column>
        </p:dataList>
        
        
    </body>
</html>
